#dashboard{
    display: grid;
    grid-template-columns: 200, 200, 200, 200;
}
#skillTable{
    text-align: center;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 5px;
}
#skillTableHeader{
    font-size: larger;
}