.progressBarContainer {
    width: 150%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
  }
  
  .progressBar {
   
    
    
    
  }
  
  .progressText {
    display:flex;
    justify-content: center;
    

  }